In [1]:
#convert .txt file to .csv file

import pandas as pd

# read_file = pd.read_csv (r'/Users/xinyuzhang/Desktop/allbp.txt')
# read_file.to_csv (r'/Users/xinyuzhang/Desktop/allbp.csv', index=None)

In [2]:
#import the libraies

import numpy as np
# from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
#import the .csv file

data = pd.read_csv('Hospital.csv')
data.head()

,Index,Patient ID,Age,Sex,On thyroxine,Query on thyroxine,On antithyroid medication,Sick,Pregnant,Thyroid surgery,...,TGII,TGAb,TPOAb,Vitamin D Deficiency,Hypertension,Diabetes,Depression,Obesity,Radiation,Status
0,0,1,56-70,Female,f,f,f,f,f,f,...,NaN,NaN,41.25,f,f,f,f,f,f,negative
1,1,2,36-55,Female,f,f,f,t,f,f,...,NaN,10.0,13.19,f,f,f,f,f,f,negative
2,2,3,<=18,Female,f,f,f,f,f,f,...,NaN,535.3,47.53,f,f,f,f,f,f,negative
3,3,4,36-55,Female,f,f,f,f,f,f,...,NaN,NaN,NaN,f,f,f,f,f,f,negative
4,4,5,36-55,Male,t,f,f,t,f,t,...,NaN,10.0,16.77,f,t,t,f,f,f,negative

In [ ]:
#get more information around the data

data.columns

In [ ]:
data.info()

In [ ]:
#identify the different class types

data.Class.unique()

In [4]:
#data cleaning

data = data.replace('?', np.NaN) #replace "?" with null

In [ ]:
data

In [ ]:
#identify missing values

data.isnull().sum()

In [5]:
#drop all the columns with missing sex

data = data[~(data['Sex'].isnull())]

In [ ]:
data.info()

In [ ]:
#check the missing valuaed

data.isnull().sum()

In [6]:
#drop the row with the one missing age

data = data[~(data['Age'].isnull())]

In [ ]:
data.info()

In [ ]:
data.isnull().sum()

In [ ]:
#drop the TBG column

# data.drop("TSH measured", axis=1, inplace=True)
# data.drop("T3 measured", axis=1, inplace=True)
# data.drop("TT4 measured", axis=1, inplace=True)
# data.drop("T4U measured", axis=1, inplace=True)
# data.drop("TBG measured", axis=1, inplace=True)
# data.drop("TBG", axis=1, inplace=True)
# data.drop("Referral source", axis=1, inplace=True)

In [ ]:
data.info()

In [ ]:
data.isnull().sum()

In [ ]:
# data['Age'] = pd.to_numeric(data['Age'], errors='coerce')

In [ ]:
# data['Age'] = data['Age'].astype(int)

In [ ]:
data.info()

In [ ]:
# df.loc[(df['Age'] >= 18) & (df['Age'] < 30), 'Age'] = '18 - 30'

In [ ]:
#convert dataframe to numeric 

data['TSH'] = pd.to_numeric(data['TSH'], errors='coerce')
data['T3'] = pd.to_numeric(data['T3'], errors='coerce')
data['TT4'] = pd.to_numeric(data['TT4'], errors='coerce')
data['T4U'] = pd.to_numeric(data['T4U'], errors='coerce')
data['FTI'] = pd.to_numeric(data['FTI'], errors='coerce')

In [ ]:
# #replace mean with missing values for all the indicators

# data['TSH'].fillna((data['TSH'].mean()), inplace=True)
# data['T3'].fillna((data['T3'].mean()), inplace=True)
# data['TT4'].fillna((data['TT4'].mean()), inplace=True)
# data['T4U'].fillna((data['T4U'].mean()), inplace=True)
# data['FTI'].fillna((data['FTI'].mean()), inplace=True)

In [ ]:
data['TSH'].fillna((np.random.uniform(0.27,4.2)), inplace=True)
data['T3'].fillna((np.random.uniform(1.3,3.1)), inplace=True)
data['TT4'].fillna((np.random.uniform(62,164)), inplace=True)
data['T4U'].fillna((np.random.uniform(0.7,1.8)), inplace=True)
data['FTI'].fillna((np.random.uniform(53,142)), inplace=True)

In [ ]:
data

In [ ]:
df = data

In [ ]:
#replace with normal or abnormal for blood index level

df.loc[(df['TSH'] >= 0.27) & (df['TSH'] <= 4.2), 'TSH'] = 'normal_TSH'
df.loc[(df['T3'] >= 1.3) & (df['T3'] <= 3.1), 'T3'] = 'normal_T3'
df.loc[(df['TT4'] >= 62) & (df['TT4'] <= 164), 'TT4'] = 'normal_TT4'
df.loc[(df['T4U'] >= 0.7) & (df['T4U'] <= 1.8), 'T4U'] = 'normal_T4U'
df.loc[(df['FTI'] >= 53) & (df['FTI'] <= 142), 'FTI'] = 'normal_FTI'

In [ ]:
df.loc[df['TSH']!='normal_TSH', 'TSH'] = 'abnormal_TSH'
df.loc[df['T3']!='normal_T3', 'T3'] = 'abnormal_T3'
df.loc[df['TT4']!='normal_TT4', 'TT4'] = 'abnormal_TT4'
df.loc[df['T4U']!='normal_T4U', 'T4U'] = 'abnormal_T4U'
df.loc[df['FTI']!='normal_FTI', 'FTI'] = 'abnormal_FTI'

In [ ]:
data

In [ ]:
data.info()

In [7]:
data = data[['Age', 'Sex', 'On thyroxine', 'On antithyroid medication','Sick', 'Pregnant', 
             'Thyroid surgery', 'I131 treatment', 'Query hypothyroid', 'Query hyperthyroid', 
             'Goiter', 'Tumor', 'Psych', 'Vitamin D Deficiency', 'Hypertension', 'Diabetes', 
             'Depression', 'Obesity', 'Radiation', 'Status']]

In [ ]:
data.info()

In [ ]:
data

In [ ]:
# #replace f with 0 and t with 1

# data = data.replace('f', 0)
# data = data.replace('t', 1)

# #replace F with 0 and M with 1

# data = data.replace('F', 0)
# data = data.replace('M', 1)

In [ ]:
# #define age interval

# data['Age'] = data.loc[data['Age'] < 18, 'Age'] = 'below 18'
# data.loc[(data['Age'] >= 18) & (data['Age'] < 30), 'Age'] = '18 - 30'
# data.loc[(data['Age'] >= 30) & (data['Age'] < 50), 'Age'] = '30 - 50'
# data.loc[(data['Age'] >= 50) & (data['Age'] < 70), 'Age'] = '50 - 70'
# data['Age'] = data.loc[data['Age'] > 70, 'Age'] = 'above 70'

In [ ]:
data

In [8]:
#replace f with 0 and t with 1


data['On thyroxine'] = data['On thyroxine'].replace('f', 'Not_Thyroxine')
data['On thyroxine'] = data['On thyroxine'].replace('t', 'Thyroxine')

data['On antithyroid medication'] = data['On antithyroid medication'].replace('f', 'Not_On antithyroid medication')
data['On antithyroid medication'] = data['On antithyroid medication'].replace('t', 'On antithyroid medication')

data['Sick'] = data['Sick'].replace('f', 'Not_Sick')
data['Sick'] = data['Sick'].replace('t', 'Sick')

data['Pregnant'] = data['Pregnant'].replace('f', 'Not_Pregnant')
data['Pregnant'] = data['Pregnant'].replace('t', 'Pregnant')

data['Thyroid surgery'] = data['Thyroid surgery'].replace('f', 'Not_Thyroid surgery')
data['Thyroid surgery'] = data['Thyroid surgery'].replace('t', 'Thyroid surgery')

data['I131 treatment'] = data['I131 treatment'].replace('f', 'Not_I131')
data['I131 treatment'] = data['I131 treatment'].replace('t', 'I131')

data['Query hypothyroid'] = data['Query hypothyroid'].replace('f', 'Not_Query hypothyroid')
data['Query hypothyroid'] = data['Query hypothyroid'].replace('t', 'Query hypothyroid')

data['Query hyperthyroid'] = data['Query hyperthyroid'].replace('f', 'Not_Query hyperthyroid')
data['Query hyperthyroid'] = data['Query hyperthyroid'].replace('t', 'Query hyperthyroid')

data['Goiter'] = data['Goiter'].replace('f', 'Not_Goiter')
data['Goiter'] = data['Goiter'].replace('t', 'Goiter')

data['Tumor'] = data['Tumor'].replace('f', 'Not_Tumor')
data['Tumor'] = data['Tumor'].replace('t', 'Tumor')

data['Psych'] = data['Psych'].replace('f', 'Not_Psych')
data['Psych'] = data['Psych'].replace('t', 'Psych')


data['Vitamin D Deficiency'] = data['Vitamin D Deficiency'].replace('f', 'Not_Vitamin_D_Deficiency')
data['Vitamin D Deficiency'] = data['Vitamin D Deficiency'].replace('t', 'Vitamin_D_Deficiency')

data['Hypertension'] = data['Hypertension'].replace('f', 'Not_Hypertension')
data['Hypertension'] = data['Hypertension'].replace('t', 'Hypertension')

data['Diabetes'] = data['Diabetes'].replace('f', 'Not_Diabetes')
data['Diabetes'] = data['Diabetes'].replace('t', 'Diabetes')

data['Depression'] = data['Depression'].replace('f', 'Not_Depression')
data['Depression'] = data['Depression'].replace('t', 'Depression')

data['Obesity'] = data['Obesity'].replace('f', 'Not_Obesity')
data['Obesity'] = data['Obesity'].replace('t', 'Obesity')

data['Radiation'] = data['Radiation'].replace('f', 'Not_Radiation')
data['Radiation'] = data['Radiation'].replace('t', 'Radiation')

In [8]:
#replace f with 0 and t with 1


data['On thyroxine'] = data['On thyroxine'].replace('f', '')
data['On thyroxine'] = data['On thyroxine'].replace('t', 'Thyroxine')

data['On antithyroid medication'] = data['On antithyroid medication'].replace('f', '')
data['On antithyroid medication'] = data['On antithyroid medication'].replace('t', 'On antithyroid medication')

data['Sick'] = data['Sick'].replace('f', '')
data['Sick'] = data['Sick'].replace('t', 'Sick')

data['Pregnant'] = data['Pregnant'].replace('f', '')
data['Pregnant'] = data['Pregnant'].replace('t', 'Pregnant')

data['Thyroid surgery'] = data['Thyroid surgery'].replace('f', '')
data['Thyroid surgery'] = data['Thyroid surgery'].replace('t', 'Thyroid surgery')

data['I131 treatment'] = data['I131 treatment'].replace('f', '')
data['I131 treatment'] = data['I131 treatment'].replace('t', 'I131')

data['Query hypothyroid'] = data['Query hypothyroid'].replace('f', '')
data['Query hypothyroid'] = data['Query hypothyroid'].replace('t', 'Query hypothyroid')

data['Query hyperthyroid'] = data['Query hyperthyroid'].replace('f', '')
data['Query hyperthyroid'] = data['Query hyperthyroid'].replace('t', 'Query hyperthyroid')

data['Goiter'] = data['Goiter'].replace('f', '')
data['Goiter'] = data['Goiter'].replace('t', 'Goiter')

data['Tumor'] = data['Tumor'].replace('f', '')
data['Tumor'] = data['Tumor'].replace('t', 'Tumor')

data['Psych'] = data['Psych'].replace('f', '')
data['Psych'] = data['Psych'].replace('t', 'Psych')


data['Vitamin D Deficiency'] = data['Vitamin D Deficiency'].replace('f', '')
data['Vitamin D Deficiency'] = data['Vitamin D Deficiency'].replace('t', 'Vitamin_D_Deficiency')

data['Hypertension'] = data['Hypertension'].replace('f', '')
data['Hypertension'] = data['Hypertension'].replace('t', 'Hypertension')

data['Diabetes'] = data['Diabetes'].replace('f', '')
data['Diabetes'] = data['Diabetes'].replace('t', 'Diabetes')

data['Depression'] = data['Depression'].replace('f', '')
data['Depression'] = data['Depression'].replace('t', 'Depression')

data['Obesity'] = data['Obesity'].replace('f', '')
data['Obesity'] = data['Obesity'].replace('t', 'Obesity')

data['Radiation'] = data['Radiation'].replace('f', '')
data['Radiation'] = data['Radiation'].replace('t', 'Radiation')

In [ ]:
# data = data[['Age', 'Sex', 'On thyroxine', 'Query on thyroxine', 'On antithyroid medication',
#             'Sick', 'Pregnant', 'Thyroid surgery', 'I131 treatment', 'Query hypothyroid',
#             'Query hyperthyroid', 'Lithium', 'Goiter', 'Tumor', 'Hypopituitary', 'Psych', 'Class']]

In [ ]:
data

In [ ]:
data.info()

In [ ]:
data

In [9]:
data_healthy = data[data['Status'] == 'negative']
data_sick = data[data['Status'] == 'positive']

In [ ]:
# data_healthy = data_healthy.drop(['Class'], axis=1)
# data_sick = data_sick.drop(['Class'], axis=1)

In [10]:
data_male = data[data['Sex'] == 'Male']
data_female = data[data['Sex'] == 'Female']

In [ ]:
# data_male = data_male.drop(['Sex', 'Pregnant'], axis=1)
# data_female = data_female.drop(['Sex'], axis=1)

# data_male = data_female.drop(['Pregnant'], axis=1)

In [ ]:
data_healthy.info()

In [ ]:
data_male

In [ ]:
# data_male = data_male[['Age', 'On thyroxine', 'Query on thyroxine', 'On antithyroid medication',
#             'Sick', 'Pregnant', 'Thyroid surgery', 'I131 treatment', 'Query hypothyroid',
#             'Query hyperthyroid', 'Lithium', 'Goiter', 'Tumor', 'Hypopituitary', 'Psych', 'Class']]

In [ ]:
# data_female = data_female[['Age', 'On thyroxine', 'Query on thyroxine', 'On antithyroid medication',
#             'Sick', 'Pregnant', 'Thyroid surgery', 'I131 treatment', 'Query hypothyroid',
#             'Query hyperthyroid', 'Lithium', 'Goiter', 'Tumor', 'Hypopituitary', 'Psych', 'Class']]

In [ ]:
# data = data.replace('f', 'False')
# data = data.replace('t', 'True')
# data = data.replace('F', 'False')
# data = data.replace('M', 'True')

In [11]:
data_healthy.columns = [''] * len(data_healthy.columns)
data_sick.columns = [''] * len(data_sick.columns)

In [12]:
data_male.columns = [''] * len(data_male.columns)
data_female.columns = [''] * len(data_female.columns)

In [13]:
data_healthy = data_healthy.values.tolist()
data_sick = data_sick.values.tolist()

In [14]:
data_male = data_male.values.tolist()
data_female = data_female.values.tolist()

In [15]:
data_healthy = [[s for s in sub_list if s] for sub_list in data_healthy]
data_sick = [[s for s in sub_list if s] for sub_list in data_sick]

data_male = [[s for s in sub_list if s] for sub_list in data_male]
data_female = [[s for s in sub_list if s] for sub_list in data_female]

In [ ]:
data_female

In [ ]:
#save to .txt file

# a_dataframe = pd.DataFrame(data)
# numpy_array = a_dataframe.to_numpy()
# np.savetxt("data.txt", numpy_array, fmt = "%s")

In [ ]:
#identify different class

# negative = (data[data['Class'] =="negative"])
# increased = (data[data['Class'] =="increased binding protein"])
# decreased = (data[data['Class'] =="decreased binding protein"])

In [16]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary_healthy = te.fit(data_healthy).transform(data_healthy)
df_healthy = pd.DataFrame(te_ary_healthy, columns=te.columns_)
df_healthy

te = TransactionEncoder()
te_ary_sick = te.fit(data_sick).transform(data_sick)
df_sick = pd.DataFrame(te_ary_sick, columns=te.columns_)
df_sick

,19-35,36-55,56-70,Diabetes,Female,Goiter,Hypertension,I131,Male,Query hypothyroid,Thyroid surgery,Thyroxine,Tumor,positive
0,False,False,True,False,True,False,False,False,False,True,True,False,True,True
1,True,False,False,False,True,False,False,True,False,False,True,True,True,True
2,False,False,True,False,True,False,False,False,False,True,True,True,True,True
3,False,True,False,False,False,False,False,False,True,False,True,False,True,True
4,True,False,False,False,True,False,False,True,False,False,True,True,True,True
5,True,False,False,False,False,False,False,True,True,False,True,True,True,True
6,False,False,True,False,True,False,False,True,False,True,True,True,True,True
7,True,False,False,False,True,False,False,True,False,True,True,True,True,True
8,True,False,False,False,True,False,False,False,False,False,True,False,True,True
9,True,False,False,False,True,False,False,True,False,False,True,True,True,True
10,False,True,False,False,True,True,False,False,False,False,True,True,True,True
11,True,False,False,False,True,False,False,False,False,False,True,False,True,True
12,False,True,False,False,False,False,False,False,True,False,True,False,True,True
13,False,True,False,True,True,False,False,True,False,False,True,True,True,True
14,False,True,False,True,True,False,False,True,False,False,True,True,True,True
15,True,False,False,False,True,False,False,True,False,False,True,True,True,True
16,True,False,False,False,True,False,False,True,False,False,True,True,True,True
17,False,False,True,False,True,False,True,True,False,True,True,True,True,True
18,False,False,True,False,True,False,False,False,False,True,True,True,True,True
19,True,False,False,False,True,False,True,False,False,False,True,False,True,True
20,False,True,False,False,True,False,False,False,False,False,True,False,True,True
21,True,False,False,False,True,False,False,True,False,False,True,True,True,True
22,True,False,False,False,True,False,False,False,False,False,True,False,True,True
23,False,False,True,False,False,False,False,False,True,False,False,False,True,True

In [17]:
te = TransactionEncoder()
te_ary_male = te.fit(data_male).transform(data_male)
df_male = pd.DataFrame(te_ary_male, columns=te.columns_)
df_male

te = TransactionEncoder()
te_ary_female = te.fit(data_female).transform(data_female)
df_female = pd.DataFrame(te_ary_female, columns=te.columns_)
df_female

,19-35,36-55,56-70,<=18,>70,Depression,Diabetes,Female,Goiter,Hypertension,...,Psych,Query hyperthyroid,Query hypothyroid,Sick,Thyroid surgery,Thyroxine,Tumor,Vitamin_D_Deficiency,negative,positive
0,False,False,True,False,False,False,False,True,False,False,...,False,False,True,False,False,False,False,False,True,False
1,False,True,False,False,False,False,False,True,False,False,...,False,False,True,True,False,False,False,False,True,False
2,False,False,False,True,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,True,False
3,False,True,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,False,True,False
4,False,False,False,False,True,False,False,True,True,False,...,False,False,False,True,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,False,False,True,False,False,False,False,True,True,False,...,False,False,False,False,True,False,True,False,True,False
270,False,False,False,False,True,False,False,True,False,True,...,False,False,True,False,False,False,True,False,True,False
271,False,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,True,False,True,False
272,False,False,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
273,False,False,True,False,False,False,False,True,True,False,...,False,False,False,False,True,False,False,False,True,False

In [ ]:
df_male.info()

In [ ]:
#minimal support = 40%
#minimal exception = 0.95
#minimal confidence = 98%
#Exceptional interval is [20%,39.99%]

In [18]:
from mlxtend.frequent_patterns import apriori, fpgrowth

# fpgrowth(df_male, min_support=0.4, use_colnames=True) #apply apriori with minimal support of 0.5

In [ ]:
#common rules generation
frequent_itemsets_healthy = apriori(df_healthy, min_support=0.8, use_colnames=True)
frequent_itemsets_healthy['length'] = frequent_itemsets_healthy['itemsets'].apply(lambda x: len(x))
frequent_itemsets_healthy

In [19]:
frequent_itemsets_sick = apriori(df_sick, min_support=0.8, use_colnames=True)
frequent_itemsets_sick['length'] = frequent_itemsets_sick['itemsets'].apply(lambda x: len(x))
frequent_itemsets_sick

     support                                    itemsets  length
0   0.833333                                    (Female)       1
1   0.958333                           (Thyroid surgery)       1
2   1.000000                                     (Tumor)       1
3   1.000000                                  (positive)       1
4   0.833333                   (Female, Thyroid surgery)       2
5   0.833333                             (Female, Tumor)       2
6   0.833333                          (Female, positive)       2
7   0.958333                    (Thyroid surgery, Tumor)       2
8   0.958333                 (positive, Thyroid surgery)       2
9   1.000000                           (positive, Tumor)       2
10  0.833333            (Female, Thyroid surgery, Tumor)       3
11  0.833333         (Female, positive, Thyroid surgery)       3
12  0.833333                   (Female, positive, Tumor)       3
13  0.958333          (positive, Thyroid surgery, Tumor)       3
14  0.833333  (Female, positive, Thyroid surgery, Tumor)       4

In [20]:
frequent_itemsets_male = apriori(df_male, min_support=0.8, use_colnames=True)
frequent_itemsets_male['length'] = frequent_itemsets_male['itemsets'].apply(lambda x: len(x))
frequent_itemsets_male

    support          itemsets  length
0  1.000000            (Male)       1
1  0.958763        (negative)       1
2  0.958763  (negative, Male)       2

In [21]:
frequent_itemsets_female = apriori(df_female, min_support=0.8, use_colnames=True)
frequent_itemsets_female['length'] = frequent_itemsets_female['itemsets'].apply(lambda x: len(x))
frequent_itemsets_female

    support            itemsets  length
0  1.000000            (Female)       1
1  0.927007          (negative)       1
2  0.927007  (Female, negative)       2

In [22]:
from mlxtend.frequent_patterns import association_rules

In [ ]:
rules_healthy = association_rules(frequent_itemsets_healthy, metric = "confidence", min_threshold = 0.9)

In [ ]:
rules_healthy

In [23]:
rules_sick = association_rules(frequent_itemsets_sick, metric = "confidence", min_threshold = 0.7)

In [24]:
rules_sick

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Female),(Thyroid surgery),0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf
1,(Thyroid surgery),(Female),0.958333,0.833333,0.833333,0.869565,1.043478,0.034722,1.277778
2,(Female),(Tumor),0.833333,1.000000,0.833333,1.000000,1.000000,0.000000,inf
3,(Tumor),(Female),1.000000,0.833333,0.833333,0.833333,1.000000,0.000000,1.000000
4,(Female),(positive),0.833333,1.000000,0.833333,1.000000,1.000000,0.000000,inf
5,(positive),(Female),1.000000,0.833333,0.833333,0.833333,1.000000,0.000000,1.000000
6,(Thyroid surgery),(Tumor),0.958333,1.000000,0.958333,1.000000,1.000000,0.000000,inf
7,(Tumor),(Thyroid surgery),1.000000,0.958333,0.958333,0.958333,1.000000,0.000000,1.000000
8,(positive),(Thyroid surgery),1.000000,0.958333,0.958333,0.958333,1.000000,0.000000,1.000000
9,(Thyroid surgery),(positive),0.958333,1.000000,0.958333,1.000000,1.000000,0.000000,inf
10,(positive),(Tumor),1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,inf
11,(Tumor),(positive),1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,inf
12,"(Female, Thyroid surgery)",(Tumor),0.833333,1.000000,0.833333,1.000000,1.000000,0.000000,inf
13,"(Female, Tumor)",(Thyroid surgery),0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf
14,"(Thyroid surgery, Tumor)",(Female),0.958333,0.833333,0.833333,0.869565,1.043478,0.034722,1.277778
15,(Female),"(Thyroid surgery, Tumor)",0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf
16,(Thyroid surgery),"(Female, Tumor)",0.958333,0.833333,0.833333,0.869565,1.043478,0.034722,1.277778
17,(Tumor),"(Female, Thyroid surgery)",1.000000,0.833333,0.833333,0.833333,1.000000,0.000000,1.000000
18,"(Female, positive)",(Thyroid surgery),0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf
19,"(Female, Thyroid surgery)",(positive),0.833333,1.000000,0.833333,1.000000,1.000000,0.000000,inf
20,"(positive, Thyroid surgery)",(Female),0.958333,0.833333,0.833333,0.869565,1.043478,0.034722,1.277778
21,(Female),"(positive, Thyroid surgery)",0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf
22,(positive),"(Female, Thyroid surgery)",1.000000,0.833333,0.833333,0.833333,1.000000,0.000000,1.000000
23,(Thyroid surgery),"(Female, positive)",0.958333,0.833333,0.833333,0.869565,1.043478,0.034722,1.277778
24,"(Female, positive)",(Tumor),0.833333,1.000000,0.833333,1.000000,1.000000,0.000000,inf
25,"(Female, Tumor)",(positive),0.833333,1.000000,0.833333,1.000000,1.000000,0.000000,inf
26,"(positive, Tumor)",(Female),1.000000,0.833333,0.833333,0.833333,1.000000,0.000000,1.000000
27,(Female),"(positive, Tumor)",0.833333,1.000000,0.833333,1.000000,1.000000,0.000000,inf
28,(positive),"(Female, Tumor)",1.000000,0.833333,0.833333,0.833333,1.000000,0.000000,1.000000
29,(Tumor),"(Female, positive)",1.000000,0.833333,0.833333,0.833333,1.000000,0.000000,1.000000
30,"(positive, Thyroid surgery)",(Tumor),0.958333,1.000000,0.958333,1.000000,1.000000,0.000000,inf
31,"(positive, Tumor)",(Thyroid surgery),1.000000,0.958333,0.958333,0.958333,1.000000,0.000000,1.000000
32,"(Thyroid surgery, Tumor)",(positive),0.958333,1.000000,0.958333,1.000000,1.000000,0.000000,inf
33,(positive),"(Thyroid surgery, Tumor)",1.000000,0.958333,0.958333,0.958333,1.000000,0.000000,1.000000
34,(Thyroid surgery),"(positive, Tumor)",0.958333,1.000000,0.958333,1.000000,1.000000,0.000000,inf
35,(Tumor),"(positive, Thyroid surgery)",1.000000,0.958333,0.958333,0.958333,1.000000,0.000000,1.000000
36,"(Female, positive, Thyroid surgery)",(Tumor),0.833333,1.000000,0.833333,1.000000,1.000000,0.000000,inf
37,"(Female, positive, Tumor)",(Thyroid surgery),0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf
38,"(Female, Thyroid surgery, Tumor)",(positive),0.833333,1.000000,0.833333,1.000000,1.000000,0.000000,inf
39,"(positive, Thyroid surgery, Tumor)",(Female),0.958333,0.833333,0.833333,0.869565,1.043478,0.034722,1.277778
40,"(Female, positive)","(Thyroid surgery, Tumor)",0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf
41,"(Female, Thyroid surgery)","(positive, Tumor)",0.833333,1.000000,0.833333,1.000000,1.000000,0.000000,inf
42,"(Female, Tumor)","(positive, Thyroid surgery)",0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf
43,"(positive, Thyroid surgery)","(Female, Tumor)",0.958333,0.833333,0.833333,0.869565,1.043478,0.034722,1.277778
44,"(positive, Tumor)","(Female, Thyroid surgery)",1.000000,0.833333,0.833333,0.833333,1.000000,0.000000,1.000000
45,"(Thyroid surgery, Tumor)","(Female, positive)",0.958333,0.833333,0.833333,0.869565,1.043478,0.034722,1.277778
46,(Female),"(positive, Thyroid surgery, Tumor)",0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf
47,(positive),"(Female, Thyroid surgery, Tumor)",1.000000,0.833333,0.833333,0.833333,1.000000,0.000000,1.000000
48,(Thyroid surgery),"(Female, positive, Tumor)",0.958333,0.833333,0.833333,0.869565,1.043478,0.034722,1.277778
49,(Tumor),"(Female, positive, Thyroid surgery)",1.000000,0.833333,0.833333,0.833333,1.000000,0.000000,1.000000

In [ ]:
rules_healthy["CPIR"] = (rules_healthy["support"]-rules_healthy["antecedent support"]*rules_healthy["consequent support"])/(rules_healthy["antecedent support"]*(1-rules_healthy["consequent support"]))

In [25]:
rules_sick["CPIR"] = (rules_sick["support"]-rules_sick["antecedent support"]*rules_sick["consequent support"])/(rules_sick["antecedent support"]*(1-rules_sick["consequent support"]))

In [26]:
rules_male = association_rules(frequent_itemsets_male, metric = "confidence", min_threshold = 0.9)

In [27]:
rules_female = association_rules(frequent_itemsets_female, metric = "confidence", min_threshold = 0.9)

In [28]:
rules_male["CPIR"] = (rules_male["support"]-rules_male["antecedent support"]*rules_male["consequent support"])/(rules_male["antecedent support"]*(1-rules_male["consequent support"]))
rules_female["CPIR"] = (rules_female["support"]-rules_female["antecedent support"]*rules_female["consequent support"])/(rules_female["antecedent support"]*(1-rules_female["consequent support"]))

In [32]:
# rules_healthy = rules_healthy[rules_healthy['CPIR'] >= 0.1]
rules_sick = rules_sick[rules_sick['CPIR'] >= 0.3]

# rules_male = rules_male[rules_male['CPIR'] >= 0.3]
# rules_female = rules_female[rules_female['CPIR'] >= 0.3]

In [31]:
rules_female['CPIR']

0    0.0
1    NaN
Name: CPIR, dtype: float64

In [33]:
def frozenset_to_str(x):
    x = list(x)
    x = str(x).lstrip('[').rstrip(']').strip()
    return x

In [34]:
rules_healthy['antecedents'] = rules_healthy['antecedents'].apply(lambda x: frozenset_to_str(x))
rules_healthy['consequents'] = rules_healthy['consequents'].apply(lambda x: frozenset_to_str(x))

NameError: name 'rules_healthy' is not defined

In [35]:
rules_sick['antecedents'] = rules_sick['antecedents'].apply(lambda x: frozenset_to_str(x))
rules_sick['consequents'] = rules_sick['consequents'].apply(lambda x: frozenset_to_str(x))

/Users/xinyuzhang/opt/anaconda3/envs/Thyroid/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/xinyuzhang/opt/anaconda3/envs/Thyroid/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
rules_male['antecedents'] = rules_male['antecedents'].apply(lambda x: frozenset_to_str(x))
rules_male['consequents'] = rules_male['consequents'].apply(lambda x: frozenset_to_str(x))

In [37]:
rules_female['antecedents'] = rules_female['antecedents'].apply(lambda x: frozenset_to_str(x))
rules_female['consequents'] = rules_female['consequents'].apply(lambda x: frozenset_to_str(x))

In [ ]:
import matplotlib.pyplot as plt
import networkx as nx

In [ ]:
fig, ax=plt.subplots(figsize=(15, 15))
GA=nx.from_pandas_edgelist(rules_healthy,source='antecedents',target='consequents')
nx.draw(GA,style='-.', alpha= 0.7, node_color= '#8B8378', edge_color='#8B8378', node_size=300, node_shape='o', 
        edge_cmap=plt.cm.Blues, with_labels=True)
# plt.savefig('rules_healthy_Apriori.png')
plt.show()

In [ ]:
fig, ax=plt.subplots(figsize=(10, 10))
GA=nx.from_pandas_edgelist(rules_sick,source='antecedents',target='consequents')
nx.draw(GA,style='-.', alpha= 0.7, node_color= '#66CDAA', edge_color='#66CDAA', node_size=300, node_shape='o', 
        edge_cmap=plt.cm.Blues, with_labels=True)
# plt.savefig('rules_sick_Apriori.png')
plt.show()

In [ ]:
fig, ax=plt.subplots(figsize=(8, 8))
GA=nx.from_pandas_edgelist(rules_male,source='antecedents',target='consequents')
nx.draw(GA,style='-.', alpha= 0.7, node_color= '#66CD00', edge_color='#66CD00', node_size=300, node_shape='o', 
        edge_cmap=plt.cm.Blues, with_labels=True)
# plt.savefig('rules_male_Apriori.png')
plt.show()

In [ ]:
fig, ax=plt.subplots(figsize=(10, 10))
GA=nx.from_pandas_edgelist(rules_female,source='antecedents',target='consequents')
nx.draw(GA,style='-.', alpha= 0.7, node_color= '#FF7256', edge_color='#FF7256', node_size=300, node_shape='o', 
        edge_cmap=plt.cm.Blues, with_labels=True)
# plt.savefig('rules_female_Apriori.png')
plt.show()

In [ ]:
# rules_healthy = rules_healthy.sort_values(['confidence', 'CPIR'], ascending =[False, False])
rules_sick = rules_sick.sort_values(['confidence', 'CPIR'], ascending =[False, False])

rules_male = rules_male.sort_values(['confidence', 'CPIR'], ascending =[False, False])
rules_female = rules_female.sort_values(['confidence', 'CPIR'], ascending =[False, False])

In [ ]:
rules_healthy

In [ ]:
final_rules_healthy = rules_healthy[rules_healthy['consequents'].str.contains('negative')]
final_rules_healthy = final_rules_healthy[final_rules_healthy['antecedents'].str.contains('Vitamin')]

In [ ]:
final_rules_healthy

In [69]:
pd.set_option('max_colwidth', None)
pd.set_option("display.max_rows", None)

In [38]:
final_rules_sick = rules_sick[rules_sick['consequents'].str.contains('positive')]
# final_rules_sick = final_rules_sick[final_rules_sick['consequents'].str.contains('Tumor')]
# final_rules_sick = final_rules_sick[final_rules_sick['antecedents'].str.contains('Obesity')]

In [39]:
final_rules_sick

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,CPIR
21,'Female',"'positive', 'Thyroid surgery'",0.833333,0.958333,0.833333,1.0,1.043478,0.034722,inf,1.0
42,"'Female', 'Tumor'","'positive', 'Thyroid surgery'",0.833333,0.958333,0.833333,1.0,1.043478,0.034722,inf,1.0
46,'Female',"'positive', 'Thyroid surgery', 'Tumor'",0.833333,0.958333,0.833333,1.0,1.043478,0.034722,inf,1.0

In [ ]:
rules_male

In [42]:
# final_rules_male = rules_male[rules_male['consequents'].str.contains('positive')]
final_rules_male = rules_male[rules_male['antecedents'].str.contains('M')]

In [43]:
final_rules_male

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,CPIR
1,'Male','negative',1.0,0.958763,0.958763,0.958763,1.0,0.0,1.0,0.0

In [44]:
# final_rules_female = rules_female[rules_female['consequents'].str.contains('negative')]
final_rules_female = rules_female[rules_female['antecedents'].str.contains('F')]

In [45]:
final_rules_female

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,CPIR
0,'Female','negative',1.0,0.927007,0.927007,0.927007,1.0,0.0,1.0,0.0

In [ ]:
#save rules
np.savetxt("rules_healthy_Apriori.txt", rules_healthy, fmt = "%s")
np.savetxt("rules_sick_Apriori.txt", rules_sick, fmt = "%s")

np.savetxt("rules_male_Apriori.txt", rules_male, fmt = "%s")
np.savetxt("rules_female_Apriori.txt", rules_female, fmt = "%s")

In [ ]:
#identify exception rules

In [ ]:
df_male.describe()

In [30]:
frequent_itemsets_healthy_exp = fpgrowth(df_healthy, min_support=0.35, use_colnames=True)
frequent_itemsets_healthy_exp['length'] = frequent_itemsets_healthy_exp['itemsets'].apply(lambda x: len(x))

In [40]:
# frequent_itemsets_healthy_exp = frequent_itemsets_healthy_exp[
#     (frequent_itemsets_healthy_exp['support'] <= 0.35)
# ]

In [31]:
frequent_itemsets_healthy_exp

         support                                           itemsets  length
0       1.000000                                         (negative)       1
1       1.000000                                    (Not_Radiation)       1
2       0.994236                                     (Not_Pregnant)       1
3       0.976945                                   (Not_Depression)       1
4       0.976945                                        (Not_Psych)       1
...          ...                                                ...     ...
149130  0.351585  (Not_Psych, Not_I131, Not_Pregnant, negative, ...       5
149131  0.351585  (Not_Psych, Not_Radiation, Not_I131, Not_Pregn...       6
149132  0.351585  (Not_Psych, Not_Radiation, Not_Depression, Tumor)       4
149133  0.351585       (negative, Not_Psych, Not_Depression, Tumor)       4
149134  0.351585  (Not_Psych, Not_Radiation, Not_Depression, neg...       5

[149135 rows x 3 columns]

In [46]:
frequent_itemsets_sick_exp = apriori(df_sick, min_support=0.2, use_colnames=True)
frequent_itemsets_sick_exp['length'] = frequent_itemsets_sick_exp['itemsets'].apply(lambda x: len(x))

In [47]:
frequent_itemsets_sick_exp

      support                                           itemsets  length
0    0.500000                                            (19-35)       1
1    0.250000                                            (36-55)       1
2    0.250000                                            (56-70)       1
3    0.833333                                           (Female)       1
4    0.500000                                             (I131)       1
..        ...                                                ...     ...
194  0.333333  (positive, Thyroxine, 19-35, Thyroid surgery, ...       6
195  0.208333  (positive, Female, Query hypothyroid, 56-70, T...       6
196  0.458333  (positive, Female, Thyroxine, Thyroid surgery,...       6
197  0.208333  (positive, Female, Query hypothyroid, Thyroxin...       6
198  0.291667  (positive, Female, Thyroxine, 19-35, Thyroid s...       7

[199 rows x 3 columns]

In [49]:
# frequent_itemsets_sick_exp = frequent_itemsets_sick_exp[
#     (frequent_itemsets_sick_exp['support'] <= 0.35)
# ]

In [48]:
frequent_itemsets_male_exp = apriori(df_male, min_support=0.2, use_colnames=True)
frequent_itemsets_male_exp['length'] = frequent_itemsets_male_exp['itemsets'].apply(lambda x: len(x))
frequent_itemsets_male_exp

     support                                  itemsets  length
0   0.443299                                   (36-55)       1
1   0.288660                                   (56-70)       1
2   0.381443                                (Diabetes)       1
3   0.412371                            (Hypertension)       1
4   1.000000                                    (Male)       1
5   0.319588                       (Query hypothyroid)       1
6   0.505155                                   (Tumor)       1
7   0.958763                                (negative)       1
8   0.443299                             (36-55, Male)       2
9   0.422680                         (36-55, negative)       2
10  0.288660                             (56-70, Male)       2
11  0.278351                         (56-70, negative)       2
12  0.237113                  (Diabetes, Hypertension)       2
13  0.381443                          (Diabetes, Male)       2
14  0.226804                         (Diabetes, Tumor)       2
15  0.381443                      (Diabetes, negative)       2
16  0.412371                      (Hypertension, Male)       2
17  0.206186                     (Hypertension, Tumor)       2
18  0.412371                  (negative, Hypertension)       2
19  0.319588                 (Query hypothyroid, Male)       2
20  0.505155                             (Male, Tumor)       2
21  0.958763                          (negative, Male)       2
22  0.319588             (Query hypothyroid, negative)       2
23  0.463918                         (negative, Tumor)       2
24  0.422680                   (36-55, negative, Male)       3
25  0.278351                   (56-70, negative, Male)       3
26  0.237113            (Diabetes, Hypertension, Male)       3
27  0.237113        (Diabetes, negative, Hypertension)       3
28  0.226804                   (Diabetes, Male, Tumor)       3
29  0.381443                (Diabetes, negative, Male)       3
30  0.226804               (Diabetes, negative, Tumor)       3
31  0.206186               (Hypertension, Male, Tumor)       3
32  0.412371            (Hypertension, negative, Male)       3
33  0.206186           (negative, Hypertension, Tumor)       3
34  0.319588       (Query hypothyroid, negative, Male)       3
35  0.463918                   (negative, Male, Tumor)       3
36  0.237113  (Diabetes, Hypertension, negative, Male)       4
37  0.226804         (Diabetes, negative, Male, Tumor)       4
38  0.206186     (Hypertension, negative, Male, Tumor)       4

In [49]:
frequent_itemsets_female_exp = apriori(df_female, min_support=0.2, use_colnames=True)
frequent_itemsets_female_exp['length'] = frequent_itemsets_female_exp['itemsets'].apply(lambda x: len(x))
frequent_itemsets_female_exp

     support                               itemsets  length
0   0.390511                                (36-55)       1
1   0.346715                                (56-70)       1
2   1.000000                               (Female)       1
3   0.215328                         (Hypertension)       1
4   0.339416                    (Query hypothyroid)       1
5   0.200730                      (Thyroid surgery)       1
6   0.211679                            (Thyroxine)       1
7   0.375912                                (Tumor)       1
8   0.927007                             (negative)       1
9   0.390511                        (36-55, Female)       2
10  0.375912                      (36-55, negative)       2
11  0.346715                        (56-70, Female)       2
12  0.328467                      (56-70, negative)       2
13  0.215328                 (Female, Hypertension)       2
14  0.339416            (Female, Query hypothyroid)       2
15  0.200730              (Female, Thyroid surgery)       2
16  0.211679                    (Thyroxine, Female)       2
17  0.375912                        (Female, Tumor)       2
18  0.927007                     (Female, negative)       2
19  0.208029               (negative, Hypertension)       2
20  0.317518          (Query hypothyroid, negative)       2
21  0.302920                      (negative, Tumor)       2
22  0.375912              (36-55, negative, Female)       3
23  0.328467              (56-70, Female, negative)       3
24  0.208029       (Female, negative, Hypertension)       3
25  0.317518  (Female, Query hypothyroid, negative)       3
26  0.302920              (Female, negative, Tumor)       3

In [56]:
frequent_itemsets_female_exp = frequent_itemsets_female_exp[
    (frequent_itemsets_female_exp['support'] <= 0.35)
]

In [57]:
frequent_itemsets_female_exp

         support                                           itemsets  length
1       0.346715                                            (56-70)       1
20      0.339416                                (Query hypothyroid)       1
25      0.328467                              (36-55, Not_Diabetes)       2
26      0.335766                                (36-55, Not_Goiter)       2
27      0.328467                          (Not_Hypertension, 36-55)       2
...          ...                                                ...     ...
281846  0.339416  (Not_Radiation, Not_I131, negative, Not_Pregna...      15
281847  0.321168  (Not_Radiation, negative, Not_I131, Not_Pregna...      15
281848  0.324818  (Not_Radiation, Not_I131, negative, Not_Pregna...      15
281849  0.321168  (Not_Radiation, negative, Not_I131, Not_Pregna...      16
281850  0.324818  (Not_Radiation, negative, Not_I131, Not_Pregna...      16

[78084 rows x 3 columns]

In [27]:
# frequent_itemsets_healthy_exp = frequent_itemsets_healthy_exp[
#     (frequent_itemsets_healthy_exp['support'] > 0.3) &
#     (frequent_itemsets_healthy_exp['support'] <= 0.4)
# ]

In [ ]:
# frequent_itemsets_sick_exp = frequent_itemsets_sick_exp[
#     (frequent_itemsets_sick_exp['support'] > 0.2) &
#     (frequent_itemsets_sick_exp['support'] <= 0.4)
# ]

In [ ]:
# frequent_itemsets_male_exp = frequent_itemsets_male_exp[
#     (frequent_itemsets_male_exp['support'] > 0.2) &
#     (frequent_itemsets_male_exp['support'] <= 0.4)
# ]

In [ ]:
# frequent_itemsets_female_exp = frequent_itemsets_female_exp[
#     (frequent_itemsets_female_exp['support'] > 0.2) &
#     (frequent_itemsets_female_exp['support'] <= 0.4)
# ]

In [71]:
frequent_itemsets_healthy_exp = frequent_itemsets_healthy_exp[frequent_itemsets_healthy_exp['length']>=2]

In [72]:
frequent_itemsets_healthy_exp

         support                                           itemsets  length
23      0.409222                            (Not_Depression, 36-55)       2
24      0.319885                              (36-55, Not_Diabetes)       2
25      0.351585                                (36-55, Not_Goiter)       2
26      0.334294                          (Not_Hypertension, 36-55)       2
27      0.391931                                  (36-55, Not_I131)       2
...          ...                                                ...     ...
220210  0.317003  (Not_Radiation, negative, Not_I131, Not_Pregna...      14
220211  0.311239  (Not_Radiation, negative, Not_I131, Not_Pregna...      15
220212  0.319885  (Not_Radiation, negative, Not_I131, Not_Pregna...      15
220213  0.337176  (Not_Radiation, Not_I131, negative, Not_Pregna...      15
220214  0.314121  (Not_Radiation, negative, Not_I131, Not_Pregna...      15

[220192 rows x 3 columns]

In [105]:
len(frequent_itemsets_sick_exp)

561151

In [36]:
rules_healthy_exp = association_rules(frequent_itemsets_healthy_exp, metric = "confidence", min_threshold = 1)

In [50]:
rules_sick_exp = association_rules(frequent_itemsets_sick_exp, metric = "confidence", min_threshold = 0.9)

In [52]:
rules_male_exp = association_rules(frequent_itemsets_male_exp, metric = "confidence", min_threshold = 0.9)

In [53]:
rules_female_exp = association_rules(frequent_itemsets_female_exp, metric = "confidence", min_threshold = 0.9)

In [38]:
rules_healthy_exp = rules_healthy_exp[rules_healthy_exp['support'] <= 0.4]

In [39]:
rules_male_exp = rules_male_exp[rules_male_exp['support'] <= 0.4]

In [ ]:
rules_sick_exp = rules_sick_exp[rules_sick_exp['support'] <= 0.4]

In [80]:
rules_female_exp = rules_female_exp[rules_female_exp['support'] <= 0.4]

In [40]:
rules_healthy_exp["CPIR"] = (rules_healthy_exp["support"]-rules_healthy_exp["antecedent support"]*rules_healthy_exp["consequent support"])/(rules_healthy_exp["antecedent support"]*(rules_healthy_exp["consequent support"]))

In [54]:
#calculate CPIR

rules_sick_exp["CPIR"] = (rules_sick_exp["support"]-rules_sick_exp["antecedent support"]*rules_sick_exp["consequent support"])/(rules_sick_exp["antecedent support"]*(rules_sick_exp["consequent support"]))

In [55]:

rules_female_exp["CPIR"] = (rules_female_exp["support"]-rules_female_exp["antecedent support"]*rules_female_exp["consequent support"])/(rules_female_exp["antecedent support"]*(rules_female_exp["consequent support"]))

In [56]:
rules_male_exp["CPIR"] = (rules_male_exp["support"]-rules_male_exp["antecedent support"]*rules_male_exp["consequent support"])/(rules_male_exp["antecedent support"]*(rules_male_exp["consequent support"]))

In [57]:
rules_female_exp['CPIR']

0     0.000000
1     0.038413
2     0.000000
3     0.021964
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.042173
12    0.009144
13    0.000000
14    0.038413
15    0.038413
16    0.021964
17    0.000000
18    0.021964
19    0.042173
20    0.000000
21    0.042173
22    0.009144
23    0.000000
24    0.009144
25    0.000000
Name: CPIR, dtype: float64

In [49]:
rules_healthy_exp = rules_healthy_exp[rules_healthy_exp['CPIR'] >= 0.1]

In [47]:
rules_male_exp = rules_male_exp[rules_male_exp['CPIR'] >= 0.3]

In [51]:
rules_male_exp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,CPIR
11262,"(Not_Sick, Diabetes)","(Not_On antithyroid medication, Not_Depression...",0.350515,0.762887,0.350515,1.0,1.310811,0.083112,inf,0.310811
11597,"(Not_Sick, Diabetes)","(Not_On antithyroid medication, Not_I131, Not_...",0.350515,0.762887,0.350515,1.0,1.310811,0.083112,inf,0.310811
11935,"(Not_Sick, Diabetes)","(negative, Not_On antithyroid medication, Not_...",0.350515,0.762887,0.350515,1.0,1.310811,0.083112,inf,0.310811
41935,"(Not_Sick, Male, Diabetes)","(Not_On antithyroid medication, Not_Depression...",0.350515,0.762887,0.350515,1.0,1.310811,0.083112,inf,0.310811
41939,"(Not_Sick, Diabetes)","(Male, Not_On antithyroid medication, Not_Depr...",0.350515,0.762887,0.350515,1.0,1.310811,0.083112,inf,0.310811
...,...,...,...,...,...,...,...,...,...,...
1824337,"(Not_Obesity, Not_Query hyperthyroid, Not_Sick...","(Not_Vitamin_D_Deficiency, Not_Thyroxine, Not_...",0.371134,0.670103,0.371134,1.0,1.492308,0.122436,inf,0.492308
1824338,"(Not_Obesity, Not_Query hyperthyroid, Not_Sick...","(Not_Vitamin_D_Deficiency, Not_Thyroxine, Not_...",0.371134,0.752577,0.371134,1.0,1.328767,0.091827,inf,0.328767
1824339,"(Not_Obesity, Not_Query hyperthyroid, Not_Sick...","(Not_Vitamin_D_Deficiency, Not_Thyroxine, Not_...",0.371134,0.659794,0.371134,1.0,1.515625,0.126262,inf,0.515625
1824340,"(Not_Obesity, Not_Query hyperthyroid, Not_Sick...","(Not_Vitamin_D_Deficiency, Not_Thyroxine, Not_...",0.371134,0.659794,0.371134,1.0,1.515625,0.126262,inf,0.515625
1824341,"(Not_Obesity, Not_Query hyperthyroid, Not_Sick...","(Not_Vitamin_D_Deficiency, Not_Thyroxine, Not_...",0.371134,0.659794,0.371134,1.0,1.515625,0.126262,inf,0.515625

In [ ]:
rules_healthy_exp = rules_healthy_exp[rules_healthy_exp['CPIR'] >= 0.6]
rules_sick_exp = rules_sick_exp[rules_sick_exp['CPIR'] >= 0.6]

In [83]:
rules_female_exp = rules_female_exp[rules_female_exp['CPIR'] >= 0.1]

In [52]:
rules_healthy_exp = rules_healthy_exp.sort_values(['confidence', 'CPIR'], ascending =[False, False])
rules_male_exp = rules_male_exp.sort_values(['confidence', 'CPIR'], ascending =[False, False])

In [84]:
rules_female_exp = rules_female_exp.sort_values(['confidence', 'CPIR'], ascending =[False, False])

In [59]:
#rank the rules

rules_sick_exp = rules_sick_exp.sort_values(['confidence', 'CPIR'], ascending =[False, False])

rules_male_exp = rules_male_exp.sort_values(['confidence', 'CPIR'], ascending =[False, False])
rules_female_exp = rules_female_exp.sort_values(['confidence', 'CPIR'], ascending =[False, False])

In [53]:
rules_healthy_exp['antecedents'] = rules_healthy_exp['antecedents'].apply(lambda x: frozenset_to_str(x))
rules_healthy_exp['consequents'] = rules_healthy_exp['consequents'].apply(lambda x: frozenset_to_str(x))

In [60]:
rules_male_exp['antecedents'] = rules_male_exp['antecedents'].apply(lambda x: frozenset_to_str(x))
rules_male_exp['consequents'] = rules_male_exp['consequents'].apply(lambda x: frozenset_to_str(x))

In [61]:
#remove frozensets

rules_sick_exp['antecedents'] = rules_sick_exp['antecedents'].apply(lambda x: frozenset_to_str(x))
rules_sick_exp['consequents'] = rules_sick_exp['consequents'].apply(lambda x: frozenset_to_str(x))

In [62]:

rules_female_exp['antecedents'] = rules_female_exp['antecedents'].apply(lambda x: frozenset_to_str(x))
rules_female_exp['consequents'] = rules_female_exp['consequents'].apply(lambda x: frozenset_to_str(x))

In [ ]:
#plot the relations

fig, ax=plt.subplots(figsize=(20, 20))
GA=nx.from_pandas_edgelist(rules_healthy_exp,source='antecedents',target='consequents')
nx.draw(GA,style='-.', alpha= 0.7, node_color= '#6495ED', edge_color='#6495ED', node_size=300, node_shape='o', 
        edge_cmap=plt.cm.Blues, with_labels=True)
# plt.savefig('rules_healthy_Apri_exp.png')
plt.show()

In [ ]:
fig, ax=plt.subplots(figsize=(20, 20))
GA=nx.from_pandas_edgelist(rules_sick_exp,source='antecedents',target='consequents')
nx.draw(GA,style='-.', alpha= 0.7, node_color= '#BCEE68', edge_color='#BCEE68', node_size=300, node_shape='o', 
        edge_cmap=plt.cm.Blues, with_labels=True)
# plt.savefig('rules_sick_Apri_exp.png')
plt.show()

In [ ]:
fig, ax=plt.subplots(figsize=(15, 15))
GA=nx.from_pandas_edgelist(rules_male_exp,source='antecedents',target='consequents')
nx.draw(GA,style='-.', alpha= 0.8, node_color= '#C1FFC1', edge_color='#C1FFC1', node_size=300, node_shape='o', 
        edge_cmap=plt.cm.Blues, with_labels=True)
# plt.savefig('rules_male_Apri_exp.png')
plt.show()

In [ ]:
fig, ax=plt.subplots(figsize=(10, 10))
GA=nx.from_pandas_edgelist(rules_female_exp,source='antecedents',target='consequents')
nx.draw(GA,style='-.', alpha= 0.7, node_color= '#FF1493', edge_color='#FF1493', node_size=300, node_shape='o', 
        edge_cmap=plt.cm.Blues, with_labels=True)
# /plt.savefig('rules_female_Apri_exp.png')
plt.show()

In [ ]:
rules_healthy_exp

In [ ]:
rules_sick_exp

In [ ]:
rules_male_exp

In [ ]:
rules_female_exp

In [78]:
final_rules_healthy_exp = rules_healthy_exp[rules_healthy_exp['consequents'].str.contains('negative')]
final_rules_healthy_exp = final_rules_healthy_exp[final_rules_healthy_exp['antecedents'].str.contains('M')]

In [79]:
final_rules_healthy_exp

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, CPIR]
Index: []

In [63]:
# final_rules_male_exp = rules_male_exp[rules_male_exp['consequents'].str.contains('negative')]
final_rules_male_exp = rules_male_exp[rules_male_exp['antecedents'].str.contains('M')]

In [64]:
final_rules_male_exp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,CPIR
24,"'Diabetes', 'Male'",'negative',0.381443,0.958763,0.381443,1.000000,1.043011,0.015730,inf,0.043011
39,"'Diabetes', 'Male', 'Hypertension'",'negative',0.237113,0.958763,0.237113,1.000000,1.043011,0.009778,inf,0.043011
42,"'Diabetes', 'Male', 'Tumor'",'negative',0.226804,0.958763,0.226804,1.000000,1.043011,0.009353,inf,0.043011
33,"'Query hypothyroid', 'Male'",'negative',0.319588,0.958763,0.319588,1.000000,1.043011,0.013179,inf,0.043011
29,"'Male', 'Hypertension'",'negative',0.412371,0.958763,0.412371,1.000000,1.043011,0.017005,inf,0.043011
45,"'Male', 'Hypertension', 'Tumor'",'negative',0.206186,0.958763,0.206186,1.000000,1.043011,0.008502,inf,0.043011
18,"'56-70', 'Male'",'negative',0.288660,0.958763,0.278351,0.964286,1.005760,0.001594,1.154639,0.005760
11,'Male','negative',1.000000,0.958763,0.958763,0.958763,1.000000,0.000000,1.000000,0.000000
15,"'36-55', 'Male'",'negative',0.443299,0.958763,0.422680,0.953488,0.994499,-0.002338,0.886598,-0.005501
36,"'Male', 'Tumor'",'negative',0.505155,0.958763,0.463918,0.918367,0.957867,-0.020406,0.505155,-0.042133

In [65]:
# final_rules_female_exp = rules_female_exp[rules_female_exp['consequents'].str.contains('negative')]
final_rules_female_exp = rules_female_exp[rules_female_exp['antecedents'].str.contains('F')]

In [66]:
final_rules_female_exp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,CPIR
19,"'Female', 'Hypertension'",'negative',0.215328,0.927007,0.208029,0.966102,1.042173,0.008418,2.153285,0.042173
14,"'36-55', 'Female'",'negative',0.390511,0.927007,0.375912,0.962617,1.038413,0.013906,1.952555,0.038413
16,"'56-70', 'Female'",'negative',0.346715,0.927007,0.328467,0.947368,1.021964,0.007060,1.386861,0.021964
22,"'Female', 'Query hypothyroid'",'negative',0.339416,0.927007,0.317518,0.935484,1.009144,0.002877,1.131387,0.009144
9,'Female','negative',1.000000,0.927007,0.927007,0.927007,1.000000,0.000000,1.000000,0.000000

In [67]:
final_rules_sick_exp = rules_sick_exp[rules_sick_exp['consequents'].str.contains('positive')]
# final_rules_female_exp = rules_female_exp[rules_female_exp['antecedents'].str.contains('F')]

In [70]:
final_rules_sick_exp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,CPIR
256,"'56-70', 'Female'","'Query hypothyroid', 'positive'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
280,"'56-70', 'Thyroid surgery'","'Query hypothyroid', 'positive'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
554,"'56-70', 'Female', 'Thyroid surgery'","'Query hypothyroid', 'positive'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
556,"'56-70', 'Female'","'Query hypothyroid', 'positive', 'Thyroid surgery'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
558,"'56-70', 'Thyroid surgery'","'Female', 'Query hypothyroid', 'positive'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
566,"'56-70', 'Female', 'Tumor'","'Query hypothyroid', 'positive'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
568,"'56-70', 'Female'","'Query hypothyroid', 'positive', 'Tumor'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
589,"'56-70', 'Thyroid surgery', 'Tumor'","'Query hypothyroid', 'positive'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
591,"'56-70', 'Thyroid surgery'","'Query hypothyroid', 'positive', 'Tumor'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
808,"'56-70', 'Female', 'Thyroid surgery', 'Tumor'","'Query hypothyroid', 'positive'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
814,"'56-70', 'Female', 'Thyroid surgery'","'Query hypothyroid', 'positive', 'Tumor'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
815,"'56-70', 'Female', 'Tumor'","'Query hypothyroid', 'positive', 'Thyroid surgery'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
818,"'56-70', 'Thyroid surgery', 'Tumor'","'Female', 'Query hypothyroid', 'positive'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
819,"'56-70', 'Female'","'Query hypothyroid', 'positive', 'Thyroid surgery', 'Tumor'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
821,"'56-70', 'Thyroid surgery'","'Female', 'Query hypothyroid', 'positive', 'Tumor'",0.208333,0.250000,0.208333,1.000000,4.000000,0.156250,inf,3.000000
215,"'Thyroxine', '19-35'","'positive', 'I131'",0.333333,0.500000,0.333333,1.000000,2.000000,0.166667,inf,1.000000
503,"'Thyroxine', 'Thyroid surgery', '19-35'","'positive', 'I131'",0.333333,0.500000,0.333333,1.000000,2.000000,0.166667,inf,1.000000
506,"'Thyroxine', '19-35'","'positive', 'Thyroid surgery', 'I131'",0.333333,0.500000,0.333333,1.000000,2.000000,0.166667,inf,1.000000
521,"'Thyroxine', 'Tumor', '19-35'","'positive', 'I131'",0.333333,0.500000,0.333333,1.000000,2.000000,0.166667,inf,1.000000
524,"'Thyroxine', '19-35'","'I131', 'positive', 'Tumor'",0.333333,0.500000,0.333333,1.000000,2.000000,0.166667,inf,1.000000
782,"'Thyroxine', 'Tumor', 'Thyroid surgery', '19-35'","'positive', 'I131'",0.333333,0.500000,0.333333,1.000000,2.000000,0.166667,inf,1.000000
788,"'Thyroxine', 'Thyroid surgery', '19-35'","'I131', 'positive', 'Tumor'",0.333333,0.500000,0.333333,1.000000,2.000000,0.166667,inf,1.000000
789,"'Thyroxine', 'Tumor', '19-35'","'positive', 'Thyroid surgery', 'I131'",0.333333,0.500000,0.333333,1.000000,2.000000,0.166667,inf,1.000000
793,"'Thyroxine', '19-35'","'I131', 'positive', 'Thyroid surgery', 'Tumor'",0.333333,0.500000,0.333333,1.000000,2.000000,0.166667,inf,1.000000
457,"'Female', 'Thyroxine', '19-35'","'positive', 'I131'",0.291667,0.500000,0.291667,1.000000,2.000000,0.145833,inf,1.000000
742,"'Female', 'Thyroxine', 'Thyroid surgery', '19-35'","'positive', 'I131'",0.291667,0.500000,0.291667,1.000000,2.000000,0.145833,inf,1.000000
745,"'Female', 'Thyroxine', '19-35'","'positive', 'Thyroid surgery', 'I131'",0.291667,0.500000,0.291667,1.000000,2.000000,0.145833,inf,1.000000
760,"'Female', 'Tumor', 'Thyroxine', '19-35'","'positive', 'I131'",0.291667,0.500000,0.291667,1.000000,2.000000,0.145833,inf,1.000000
763,"'Female', 'Thyroxine', '19-35'","'I131', 'positive', 'Tumor'",0.291667,0.500000,0.291667,1.000000,2.000000,0.145833,inf,1.000000
878,"'Female', 'Thyroxine', '19-35', 'Thyroid surgery', 'Tumor'","'positive', 'I131'",0.291667,0.500000,0.291667,1.000000,2.000000,0.145833,inf,1.000000
884,"'Female', 'Thyroxine', 'Thyroid surgery', '19-35'","'I131', 'positive', 'Tumor'",0.291667,0.500000,0.291667,1.000000,2.000000,0.145833,inf,1.000000
885,"'Female', 'Tumor', 'Thyroxine', '19-35'","'positive', 'Thyroid surgery', 'I131'",0.291667,0.500000,0.291667,1.000000,2.000000,0.145833,inf,1.000000
889,"'Female', 'Thyroxine', '19-35'","'I131', 'positive', 'Thyroid surgery', 'Tumor'",0.291667,0.500000,0.291667,1.000000,2.000000,0.145833,inf,1.000000
320,"'Female', 'I131'","'Thyroxine', 'positive'",0.458333,0.625000,0.458333,1.000000,1.600000,0.171875,inf,0.600000
615,"'Female', 'Thyroid surgery', 'I131'","'Thyroxine', 'positive'",0.458333,0.625000,0.458333,1.000000,1.600000,0.171875,inf,0.600000
618,"'Female', 'I131'","'Thyroxine', 'positive', 'Thyroid surgery'",0.458333,0.625000,0.458333,1.000000,1.600000,0.171875,inf,0.600000
645,"'I131', 'Female', 'Tumor'","'Thyroxine', 'positive'",0.458333,0.625000,0.458333,1.000000,1.600000,0.171875,inf,0.600000
648,"'Female', 'I131'","'Thyroxine', 'positive', 'Tumor'",0.458333,0.625000,0.458333,1.000000,1.600000,0.171875,inf,0.600000
835,"'I131', 'Female', 'Thyroid surgery', 'Tumor'","'Thyroxine', 'positive'",0.458333,0.625000,0.458333,1.000000,1.600000,0.171875,inf,0.600000
842,"'Female', 'Thyroid surgery', 'I131'","'Thyroxine', 'positive', 'Tumor'",0.458333,0.625000,0.458333,1.000000,1.600000,0.171875,inf,0.600000
843,"'I131', 'Female', 'Tumor'","'Thyroxine', 'positive', 'Thyroid surgery'",0.458333,0.625000,0.458333,1.000000,1.600000,0.171875,inf,0.600000
848,"'Female', 'I131'","'Thyroxine', 'positive', 'Thyroid surgery', 'Tumor'",0.458333,0.625000,0.458333,1.000000,1.600000,0.171875,inf,0.600000
214,"'19-35', 'I131'","'Thyroxine', 'positive'",0.333333,0.625000,0.333333,1.000000,1.600000,0.125000,inf,0.600000
505,"'I131', 'Thyroid surgery', '19-35'","'Thyroxine', 'positive'",0.333333,0.625000,0.333333,1.000000,1.600000,0.125000,inf,0.600000
507,"'I131', '19-35'","'Thyroxine', 'positive', 'Thyroid surgery'",0.333333,0.625000,0.333333,1.000000,1.600000,0.125000,inf,0.600000
523,"'I131', 'Tumor', '19-35'","'Thyroxine', 'positive'",0.333333,0.625000,0.333333,1.000000,1.600000,0.125000,inf,0.600000
525,"'I131', '19-35'","'Thyroxine', 'positive', 'Tumor'",0.333333,0.625000,0.333333,1.000000,1.600000,0.125000,inf,0.600000
785,"'I131', 'Tumor', 'Thyroid surgery', '19-35'","'Thyroxine', 'positive'",0.333333,0.625000,0.333333,1.000000,1.600000,0.125000,inf,0.600000
791,"'I131', 'Thyroid surgery', '19-35'","'Thyroxine', 'positive', 'Tumor'",0.333333,0.625000,0.333333,1.000000,1.600000,0.125000,inf,0.600000
792,"'I131', 'Tumor', '19-35'","'Thyroxine', 'positive', 'Thyroid surgery'",0.333333,0.625000,0.333333,1.000000,1.600000,0.125000,inf,0.600000
794,"'I131', '19-35'","'Thyroxine', 'positive', 'Thyroid surgery', 'Tumor'",0.333333,0.625000,0.333333,1.000000,1.600000,0.125000,inf,0.600000
135,'I131',"'Thyroxine', 'positive'",0.500000,0.625000,0.500000,1.000000,1.600000,0.187500,inf,0.600000
399,"'Thyroid surgery', 'I131'","'Thyroxine', 'positive'",0.500000,0.625000,0.500000,1.000000,1.600000,0.187500,inf,0.600000
400,'I131',"'Thyroxine', 'positive', 'Thyroid surgery'",0.500000,0.625000,0.500000,1.000000,1.600000,0.187500,inf,0.600000
413,"'Tumor', 'I131'","'Thyroxine', 'positive'",0.500000,0.625000,0.500000,1.000000,1.600000,0.187500,inf,0.600000
414,'I131',"'Thyroxine', 'positive', 'Tumor'",0.500000,0.625000,0.500000,1.000000,1.600000,0.187500,inf,0.600000
712,"'I131', 'Thyroid surgery', 'Tumor'","'Thyroxine', 'positive'",0.500000,0.625000,0.500000,1.000000,1.600000,0.187500,inf,0.600000
715,"'Thyroid surgery', 'I131'","'Thyroxine', 'positive', 'Tumor'",0.500000,0.625000,0.500000,1.000000,1.600000,0.187500,inf,0.600000
716,"'I131', 'Tumor'","'Thyroxine', 'positive', 'Thyroid surgery'",0.500000,0.625000,0.500000,1.000000,1.600000,0.187500,inf,0.600000
717,'I131',"'Thyroxine', 'positive', 'Thyroid surgery', 'Tumor'",0.500000,0.625000,0.500000,1.000000,1.600000,0.187500,inf,0.600000
458,"'I131', 'Female', '19-35'","'Thyroxine', 'positive'",0.291667,0.625000,0.291667,1.000000,1.600000,0.109375,inf,0.600000
744,"'I131', 'Female', 'Thyroid surgery', '19-35'","'Thyroxine', 'positive'",0.291667,0.625000,0.291667,1.000000,1.600000,0.109375,inf,0.600000
746,"'I131', 'Female', '19-35'","'Thyroxine', 'positive', 'Thyroid surgery'",0.291667,0.625000,0.291667,1.000000,1.600000,0.109375,inf,0.600000
762,"'I131', 'Female', 'Tumor', '19-35'","'Thyroxine', 'positive'",0.291667,0.625000,0.291667,1.000000,1.600000,0.109375,inf,0.600000
764,"'I131', 'Female', '19-35'","'Thyroxine', 'positive', 'Tumor'",0.291667,0.625000,0.291667,1.000000,1.600000,0.109375,inf,0.600000
881,"'Female', '19-35', 'Thyroid surgery', 'Tumor', 'I131'","'Thyroxine', 'positive'",0.291667,0.625000,0.291667,1.000000,1.600000,0.109375,inf,0.600000
887,"'I131', 'Female', 'Thyroid surgery', '19-35'","'Thyroxine', 'positive', 'Tumor'",0.291667,0.625000,0.291667,1.000000,1.600000,0.109375,inf,0.600000
888,"'I131', 'Female', 'Tumor', '19-35'","'Thyroxine', 'positive', 'Thyroid surgery'",0.291667,0.625000,0.291667,1.000000,1.600000,0.109375,inf,0.600000
890,"'I131', 'Female', '19-35'","'Thyroxine', 'positive', 'Thyroid surgery', 'Tumor'",0.291667,0.625000,0.291667,1.000000,1.600000,0.109375,inf,0.600000
102,'Query hypothyroid',"'Female', 'positive'",0.250000,0.833333,0.250000,1.000000,1.200000,0.041667,inf,0.200000
344,"'Query hypothyroid', 'Thyroid surgery'","'Female', 'positive'",0.250000,0.833333,0.250000,1.000000,1.200000,0.041667,inf,0.200000
345,'Query hypothyroid',"'Female', 'positive', 'Thyroid surgery'",0.250000,0.833333,0.250000,1.000000,1.200000,0.041667,inf,0.200000
357,"'Query hypothyroid', 'Tumor'","'Female', 'positive'",0.250000,0.833333,0.250000,1.000000,1.200000,0.041667,inf,0.200000
358,'Query hypothyroid',"'Female', 'positive', 'Tumor'",0.250000,0.833333,0.250000,1.000000,1.200000,0.041667,inf,0.200000
675,"'Query hypothyroid', 'Thyroid surgery', 'Tumor'","'Female', 'positive'",0.250000,0.833333,0.250000,1.000000,1.200000,0.041667,inf,0.200000
678,"'Query hypothyroid', 'Thyroid surgery'","'Female', 'positive', 'Tumor'",0.250000,0.833333,0.250000,1.000000,1.200000,0.041667,inf,0.200000
679,"'Query hypothyroid', 'Tumor'","'Female', 'positive', 'Thyroid surgery'",0.250000,0.833333,0.250000,1.000000,1.200000,0.041667,inf,0.200000
680,'Query hypothyroid',"'Female', 'positive', 'Thyroid surgery', 'Tumor'",0.250000,0.833333,0.250000,1.000000,1.200000,0.041667,inf,0.200000
257,"'56-70', 'Query hypothyroid'","'Female', 'positive'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
267,"'56-70', 'Thyroid surgery'","'Female', 'positive'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
351,"'Thyroxine', 'Query hypothyroid'","'Female', 'positive'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
555,"'56-70', 'Query hypothyroid', 'Thyroid surgery'","'Female', 'positive'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
557,"'56-70', 'Query hypothyroid'","'Female', 'positive', 'Thyroid surgery'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
567,"'56-70', 'Query hypothyroid', 'Tumor'","'Female', 'positive'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
569,"'56-70', 'Query hypothyroid'","'Female', 'positive', 'Tumor'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
578,"'56-70', 'Thyroid surgery', 'Tumor'","'Female', 'positive'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
580,"'56-70', 'Thyroid surgery'","'Female', 'positive', 'Tumor'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
664,"'Thyroxine', 'Query hypothyroid', 'Thyroid surgery'","'Female', 'positive'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
665,"'Thyroxine', 'Query hypothyroid'","'Female', 'positive', 'Thyroid surgery'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
686,"'Thyroxine', 'Query hypothyroid', 'Tumor'","'Female', 'positive'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
687,"'Thyroxine', 'Query hypothyroid'","'Female', 'positive', 'Tumor'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
809,"'56-70', 'Query hypothyroid', 'Thyroid surgery', 'Tumor'","'Female', 'positive'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
816,"'56-70', 'Query hypothyroid', 'Thyroid surgery'","'Female', 'positive', 'Tumor'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
817,"'56-70', 'Query hypothyroid', 'Tumor'","'Female', 'positive', 'Thyroid surgery'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
820,"'56-70', 'Query hypothyroid'","'Female', 'positive', 'Thyroid surgery', 'Tumor'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
862,"'Thyroxine', 'Query hypothyroid', 'Thyroid surgery', 'Tumor'","'Female', 'positive'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
865,"'Thyroxine', 'Query hypothyroid', 'Thyroid surgery'","'Female', 'positive', 'Tumor'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
866,"'Thyroxine', 'Query hypothyroid', 'Tumor'","'Female', 'positive', 'Thyroid surgery'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
867,"'Thyroxine', 'Query hypothyroid'","'Female', 'positive', 'Thyroid surgery', 'Tumor'",0.208333,0.833333,0.208333,1.000000,1.200000,0.034722,inf,0.200000
371,"'Thyroxine', 'Female'","'positive', 'Thyroid surgery'",0.583333,0.958333,0.583333,1.000000,1.043478,0.024306,inf,0.043478
696,"'Female', 'Thyroxine', 'Tumor'","'positive', 'Thyroid surgery'",0.583333,0.958333,0.583333,1.000000,1.043478,0.024306,inf,0.043478
699,"'Female', 'Thyroxine'","'positive', 'Thyroid surgery', 'Tumor'",0.583333,0.958333,0.583333,1.000000,1.043478,0.024306,inf,0.043478
448,"'I131', 'Female', '19-35'","'positive', 'Thyroid surgery'",0.291667,0.958333,0.291667,1.000000,1.043478,0.012153,inf,0.043478
467,"'Female', 'Thyroxine', '19-35'","'positive', 'Thyroid surgery'",0.291667,0.958333,0.291667,1.000000,1.043478,0.012153,inf,0.043478
743,"'I131', 'Female', 'Thyroxine', '19-35'","'positive', 'Thyroid surgery'",0.291667,0.958333,0.291667,1.000000,1.043478,0.012153,inf,0.043478
752,"'I131', 'Female', 'Tumor', '19-35'","'positive', 'Thyroid surgery'",0.291667,0.958333,0.291667,1.000000,1.043478,0.012153,inf,0.043478
753,"'I131', 'Female', '19-35'","'positive', 'Thyroid surgery', 'Tumor'",0.291667,0.958333,0.291667,1.000000,1.043478,0.012153,inf,0.043478
770,"'Female', 'Tumor', 'Thyroxine', '19-35'","'positive', 'Thyroid surgery'",0.291667,0.958333,0.291667,1.000000,1.043478,0.012153,inf,0.043478
771,"'Female', 'Thyroxine', '19-35'","'positive', 'Thyroid surgery', 'Tumor'",0.291667,0.958333,0.291667,1.000000,1.043478,0.012153,inf,0.043478
880,"'Female', 'Thyroxine', '19-35', 'Tumor', 'I131'","'positive', 'Thyroid surgery'",0.291667,0.958333,0.291667,1.000000,1.043478,0.012153,inf,0.043478
886,"'I131', 'Female', 'Thyroxine', '19-35'","'positive', 'Thyroid surgery', 'Tumor'",0.291667,0.958333,0.291667,1.000000,1.043478,0.012153,inf,0.043478
205,"'19-35', 'I131'","'positive', 'Thyroid surgery'",0.333333,0.958333,0.333333,1.000000,1.043478,0.013889,inf,0.043478
224,"'Thyroxine', '19-35'","'positive', 'Thyroid surgery'",0.333333,0.958333,0.333333,1.000000,1.043478,0.013889,inf,0.043478
504,"'I131', 'Thyroxine', '19-35'","'positive', 'Thyroid surgery'",0.333333,0.958333,0.333333,1.000000,1.043478,0.013889,inf,0.043478
513,"'I131', 'Tumor', '19-35'","'positive', 'Thyroid surgery'",0.333333,0.958333,0.333333,1.000000,1.043478,0.013889,inf,0.043478
514,"'I131', '19-35'","'positive', 'Thyroid surgery', 'Tumor'",0.333333,0.958333,0.333333,1.000000,1.043478,0.013889,inf,0.043478
531,"'Thyroxine', 'Tumor', '19-35'","'positive', 'Thyroid surgery'",0.333333,0.958333,0.333333,1.000000,1.043478,0.013889,inf,0.043478
532,"'Thyroxine', '19-35'","'positive', 'Thyroid surgery', 'Tumor'",0.333333,0.958333,0.333333,1.000000,1.043478,0.013889,inf,0.043478
784,"'I131', 'Thyroxine', 'Tumor', '19-35'","'positive', 'Thyroid surgery'",0.333333,0.958333,0.333333,1.000000,1.043478,0.013889,inf,0.043478
790,"'I131', 'Thyroxine', '19-35'","'positive', 'Thyroid surgery', 'Tumor'",0.333333,0.958333,0.333333,1.000000,1.043478,0.013889,inf,0.043478
111,'Female',"'positive', 'Thyroid surgery'",0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf,0.043478
378,"'Female', 'Tumor'","'positive', 'Thyroid surgery'",0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf,0.043478
379,'Female',"'positive', 'Thyroid surgery', 'Tumor'",0.833333,0.958333,0.833333,1.000000,1.043478,0.034722,inf,0.043478
266,"'56-70', 'Female'","'positive', 'Thyroid surgery'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
279,"'56-70', 'Query hypothyroid'","'positive', 'Thyroid surgery'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
420,"'Thyroxine', 'Query hypothyroid'","'positive', 'Thyroid surgery'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
553,"'56-70', 'Female', 'Query hypothyroid'","'positive', 'Thyroid surgery'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
577,"'56-70', 'Female', 'Tumor'","'positive', 'Thyroid surgery'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
579,"'56-70', 'Female'","'positive', 'Thyroid surgery', 'Tumor'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
588,"'56-70', 'Query hypothyroid', 'Tumor'","'positive', 'Thyroid surgery'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
590,"'56-70', 'Query hypothyroid'","'positive', 'Thyroid surgery', 'Tumor'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
663,"'Female', 'Query hypothyroid', 'Thyroxine'","'positive', 'Thyroid surgery'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
723,"'Thyroxine', 'Query hypothyroid', 'Tumor'","'positive', 'Thyroid surgery'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
724,"'Thyroxine', 'Query hypothyroid'","'positive', 'Thyroid surgery', 'Tumor'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
807,"'56-70', 'Female', 'Query hypothyroid', 'Tumor'","'positive', 'Thyroid surgery'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
813,"'56-70', 'Female', 'Query hypothyroid'","'positive', 'Thyroid surgery', 'Tumor'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
861,"'Female', 'Query hypothyroid', 'Thyroxine', 'Tumor'","'positive', 'Thyroid surgery'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
864,"'Female', 'Query hypothyroid', 'Thyroxine'","'positive', 'Thyroid surgery', 'Tumor'",0.208333,0.958333,0.208333,1.000000,1.043478,0.008681,inf,0.043478
182,"'Female', '19-35'","'positive', 'Thyroid surgery'",0.458333,0.958333,0.458333,1.000000,1.043478,0.019097,inf,0.043478
304,"'Female', 'I131'","'positive', 'Thyroid surgery'",0.458333,0.958333,0.458333,1.000000,1.043478,0.019097,inf,0.043478
476,"'Female', 'Tumor', '19-35'","'positive', 'Thyroid surgery'",0.458333,0.958333,0.458333,1.000000,1.043478,0.019097,inf,0.043478
479,"'Female', '19-35'","'positive', 'Thyroid surgery', 'Tumor'",0.458333,0.958333,0.458333,1.000000,1.043478,0.019097,inf,0.043478
614,"'Female', 'Thyroxine', 'I131'","'positive', 'Thyroid surgery'",0.458333,0.958333,0.458333,1.000000,1.043478,0.019097,inf,0.043478
630,"'I131', 'Female', 'Tumor'","'positive', 'Thyroid surgery'",0.458333,0.958333,0.458333,1.000000,1.043478,0.019097,inf,0.043478

In [ ]:
np.savetxt("rules_healthy_Apri_Exp.txt", rules_healthy_exp, fmt = "%s")
np.savetxt("rules_sick_Apri_Exp.txt", rules_sick_exp, fmt = "%s")

np.savetxt("rules_male_Apri_Exp.txt", rules_male_exp, fmt = "%s")
np.savetxt("rules_female_Apri_Exp.txt", rules_female_exp, fmt = "%s")

In [ ]:
rules_male.groupby(["antecedents", "consequents"]).size()

In [ ]:
df_male = rules_male
df_female = rules_female

In [ ]:
# count = rules_female.groupby(["antecedents", "consequents"]).size().to_frame('count')
df_male['count'] = df_male.groupby(['antecedents', 'consequents'])['antecedents'].transform('count')
df_female['count'] = df_female.groupby(['antecedents', 'consequents'])['antecedents'].transform('count')

In [ ]:
df_female

In [ ]:
# FuzzyFraction = {'Range': [np.arange(0, 0.0999), np.arange(0.1, 0.1999), 
#                            np.arange(0.2, 0.3999),
#                            np.arange(0.4, 0.5999), np.arange(0.6, 1)], 
#                  'Score': [0.6, 0.5, 0.4, 0.2, 0]}

In [ ]:
FuzzyFraction = {'Start': {0:0, 1: 0.1, 2: 0.2, 3: 0.4, 4: 0.6},
                 'Stop': {0:0.0999, 1: 0.1999, 2: 0.3999, 3: .5999, 4: 1},
                 'Score': {0: 0.6, 1: 0.5, 2: 0.4, 3: 0.2, 4: 0}, }

In [ ]:
# FuzzyFraction = {'Range': [{0:0.0999}, {0.1:0.1999}, {0.2:0.3999}, {0.4:0.5999}, {0.6:1}],
#                  'Score': [0.6, 0.5, 0.4, 0.2, 0]}

In [ ]:
FuzzyFraction = pd.DataFrame.from_dict(FuzzyFraction, orient='index')
FuzzyFraction = FuzzyFraction.transpose()

In [ ]:
FuzzyFraction

In [ ]:
a_male = rules_male
a_female = rules_female

In [ ]:
b = FuzzyFraction

In [ ]:
# lookup = np.dot(
#     (a['support'].values[:, None] >= b['Start'].values) &
#     (a['support'].values[:, None] <= b['Stop'].values),
#     b['Score']
# )

In [ ]:
df_male['Exceptionality'] = df_male['count']/len(df_male)+(np.dot(
    (a_male['support'].values[:, None] >= b['Start'].values) &
    (a_male['support'].values[:, None] <= b['Stop'].values),
    b['Score'])+a_male['support']
)

In [ ]:
df_female['Exceptionality'] = df_female['count']/len(df_female)+(np.dot(
    (a_female['support'].values[:, None] >= b['Start'].values) &
    (a_female['support'].values[:, None] <= b['Stop'].values),
    b['Score'])+a_female['support']
)

In [ ]:
d = d.tolist()

In [ ]:
d

In [ ]:
len([item for item in d if item>=0.98])

In [ ]:
df_female

In [ ]:
exception_rules_male = df_male[df_male['Exceptionality'] > 0.99]
exception_rules_female = df_female[df_female['Exceptionality'] > 0.99]

In [ ]:
exception_rules_male

In [ ]:
import matplotlib.pyplot as plt
import networkx as nx

In [ ]:
fig, ax=plt.subplots(figsize=(20, 20))
GA=nx.from_pandas_edgelist(exception_rules_male,source='antecedents',target='consequents')
nx.draw(GA,style='-.', alpha= 0.7, node_color= '#68bf50', edge_color='#a9fc92', node_size=300, node_shape='o', 
        edge_cmap=plt.cm.Blues, with_labels=True)
plt.savefig('exception_rules_male_FP.png')
plt.show()

In [ ]:
fig, ax=plt.subplots(figsize=(10, 10))
GA=nx.from_pandas_edgelist(exception_rules_female,source='antecedents',target='consequents')
nx.draw(GA,style='-.', alpha= 0.7, node_color= '#8164b5', edge_color='#d2b8ff', node_size=300, node_shape='o', 
        edge_cmap=plt.cm.Blues, with_labels=True)
plt.savefig('exception_rules_female_FP.png')
plt.show()

In [ ]:
# Collecting the inferred rules in a dataframe
rules = association_rules(frequent_itemsets, metric ="confidence", min_threshold = 0.99)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head())

In [ ]:
rules = association_rules(frequent_itemsets, metric ="confidence", min_threshold = 0.95)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head())

In [ ]:
# frq_items = apriori(df, min_support = 0.95, use_colnames = True)
# rules = association_rules(frq_items, metric ="confidence", min_threshold = 1)
# rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
# print(rules)

In [ ]:
#save rules to the .txt file

# a_dataframe = pd.DataFrame(data)
# numpy_array = a_dataframe.to_numpy()
# np.savetxt("rules_male_FP.txt", rules_male, fmt = "%s")
np.savetxt("rules_female_FP_Exception.txt", exception_rules_female, fmt = "%s")

In [ ]:
final_rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = 0.99)

In [ ]:
final_rules

In [ ]:
data

In [ ]:
rules_female

In [ ]:
support = rules_female['support']
confidence = rules_female['confidence']

In [ ]:
a = rules_female.nunique()

In [ ]:
a

In [ ]:
column_values = rules_female[["antecedents", "consequents"]].values.ravel()
unique_values =  pd.unique(column_values)

In [ ]:
unique_values

In [ ]:
len(rules_female['antecedents'] == 'not pregnant')

In [ ]:
rules_female.antecedents.value_counts()

In [ ]:
rules_female.groupby(["antecedents", "consequents"]).size()